/MainTokenTypes.java
/MainTokenTypes.txt
/NumbersTokenTypes.java
/NumbersTokenTypes.txt
/TerrierFloatLexer.java
/TerrierFloatLexer.smap
/TerrierLexer.java
/TerrierLexer.smap
/TerrierQueryParser.java
/TerrierQueryParser.smap
/TerrierQueryParserTokenTypes.java
/TerrierQueryParserTokenTypes.txt
