


/* CSS Document */
body{
margin: 0;
	padding: 0;
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: small;
	color: #38230E;}

.header{
width:1200px;
background-color:#FFFFFF;
border-top: 8px solid #6699CC;
border-bottom: 8px solid #6699CC}

.content_body{
background-image:url(images/bg1.jpg);
background-repeat: repeat-x;
background-color:#F6F1DE;
}

.content_interior{
width:760px;
margin-left:auto;
margin-right:auto;
}

.header_interior{
margin-left:auto;
margin-right:auto;
width:760px;
margin-top:25px;
}

.title{
color:#FFFFFF;
font-size:25px;
margin:0px;
padding-top:3px;}

.left_column{
width:400px;
float:left;
margin-top:25px;
clear:both;
}

.navigation{
width:354px;
padding-left:20px;
padding-right:20px;
background-image:url(images/nav_side.jpg);
}

.navigationbtm{
width:196px;
background-image:url(images/nav_btm.jpg);
background-repeat:no-repeat;
height:8px;
margin-top:-5px;
}


.right_column{
	width:800px;
	float:right;
	border-left: solid 1px #E0D0B1;
	padding-left: 10px;
}

.hr{
	width:485px;
	height:8px;
	background-image:url(images/hr.gif);
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	background-repeat: no-repeat;
}

a:link, a:visited {
	color: #268CCD;
	text-decoration: none;
	}
a:hover {
	text-decoration: underline;
	}


h2 {
	margin: 0;
	color: #006699;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: -1px;
	padding-left:25px;
	background-image:url(images/h2.gif);
	background-repeat:no-repeat;
	border-bottom:1px solid #006699;
}

h2 a:link, h2 a:hover, h2 a:visited {
	color: #000;
	text-decoration: none;
}
	
h1 {
	font-size: 20px;
	font-weight: normal;
	letter-spacing: -1px;
	color: #006699;
	margin: 0;
}

h1 a:link, h1 a:visited, h1 a:hover {
	text-decoration: none;
	color: #000;
}
	
h4 {
	margin: 0;
	color: #006699;
	font-size: 12px;
	padding-top:5px;
	padding-bottom:5px;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
}

h3 {
	margin: 0 0 8px 0;
	color: #999;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: -1px;
	padding-left: 20px;
}

h5 {
	margin: 0 0 8px 0;
	color: #999;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
}

.markermenu{
list-style-type: none;
margin: 5px 0;
padding: 0;
width:340px;
list-style:none;
}

.markermenu li a{
background:url(images/arrow.gif) no-repeat 2px center;
font-weight:bold;
color: #006699;
display: block;
padding: 3px 0;
padding-left: 20px;
text-decoration: none;
border-bottom: 1px solid #B5B5B5;
list-style-type: none;
list-style:none;
}


* html .markermenu li a{ /*IE only. Actual menu width minus left padding of LINK (20px) */
}

.markermenu li a:visited, .markermenu li a:active{
color: #00014e;
}

.markermenu li a:hover{
color: black;
}

.footer{
background-color:#EFE6CE;
padding-top:25px;
padding-bottom:25px;}

.footer-inner{
width:760px;
margin-left:auto;
margin-right:auto;}

.footer-div{
width:150px;
float:left;
margin-right:20px;
margin-left:20px;
}

*html .footer-div{
width:150px;
float:left;
margin-right:15px;
margin-left:15px;
}

li{
margin-left:20px;
list-style-type:square;
color:#006699;
border-left: solid 3px #0E774A;
padding: 3px 0;
padding-left: 20px;
}

#poweredby a {
	margin: 30px;
	font-size:75%;
	text-decoration:none;
}

#queryform {
	margin: 30px;
}

#summary {
	margin-bottom: 10px;
}

#pages {
	margin: 30px
}


#results {
	margin: 30px
}

#results span {
	display:block;
}

#results span.results_score {
	//display:none;
}
#results span.results_rank {
  
	display:none;
}

#results span.results_title {
        text-align: left;
	//display:none;
}

#sidebar
{
    float: right;
    width: 250px;
    background: #ccc;
    min-height: 100%;
}

#main
{
    float: left;
}
